*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --theme-color:#00aeff;
    --theme-color-lessop:#00aeff77;
}
/* #40009e */
body{
    background-color: #40009e;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
     -webkit-user-select: none;
     -ms-user-select: none;
    -moz-user-select:none;
    user-select: none;
}
.container{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("./wallpaper.jpg"),linear-gradient(to bottom,#40009e,#1c0045);
    background-repeat: no-repeat;
    background-size: cover;
}
.calculator_body{
    height: 90vh;
    width: 90vw;
    max-width: 400px;
    min-width: 350px;
    max-height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    border-radius: 15px;
    backdrop-filter: blur(10px)brightness(0.5);
    overflow: hidden;
    box-shadow: 0px 0px 15px #00000060;
}
.topcal{
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 10px;
}
.topcal span{
    height: 20px;
    width: 20px;
    background-color: red;
    display: block;
    border-radius: 50%;
}
.topcal span:nth-child(1){
    background-color: #ff2600;
}
.topcal span:nth-child(2){
    background-color: #fff200;
}
.topcal span:nth-child(3){
    background-color: #2fff00;
}
.screen{
    height: 110px;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    padding: 15px;
    margin-inline: 10px;
    overflow: hidden;
}
.scrple{
    height: 100%;
    /* width: 100%; */
    aspect-ratio: 1/1;
    display: block;
    background-color: #ffffffe7;
    animation: ripple2 0.5s linear 1;
    animation-fill-mode: forwards;
    border-radius: 50%;
    position: absolute;
    top: 100%;
    left: 100%;
}
@keyframes ripple2 {
    0%{
        transform: translate(-50%,-50%)scale(0.2);
        background-color: #00000095;
    }
    100%{
        transform: translate(-50%,-50%)scale(10);
        background-color: #00000000;
    }
}
.subscreen{
    height: 50px;
    width: calc(100% - 50px);
    color: #ffffff81;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 15px;
    margin-left: 50px;
    overflow: scroll;
    scrollbar-width: 0px;
}
.subscreen::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
.num{
    color: white;
    font-size: 50px;
}
@keyframes grow {
    0%{
        transform: scale(0.2);
    }
    100%{
        transform: scale(1);
    }
}
.operations{
    color: var(--theme-color);
    font-size: 50px;
}
.answer{
    color: #ffffff;
    font-size: 50px;
    transform-origin: center;
    animation: grow 0.4s linear 1;
    animation-fill-mode: forwards;
    animation-timing-function:cubic-bezier(0.61, 2.89, 0.3, 0.34);
}
.keyboard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(100% - 200px);
    background-color: #171427;
}
.key{
    width: 25%;
    height: 20%;
    background-color: #171427;
    display: block;
    color: #ffffff;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.2s;
}
.key:active{
    filter: brightness(1.5);
}
.keytp1{
    background-color: #ff9900;
}
.ripple{
    height: 100%;
    /* width: 100%; */
    aspect-ratio: 1/1;
    background-color: #ffffff99;
    display: block;
    position: absolute;
    top: 50px;
    left: 75px;
    transform: translate(-50%,-50%)scale(0.2);
    border-radius: 50%;
    animation: ripple 0.5s linear 1;
    animation-fill-mode: forwards;
    transform-origin: center;
}
@keyframes ripple {
    0%{
        transform: translate(-50%,-50%)scale(0.2);
        background-color: #ffffff34;
    }
    100%{
        transform: translate(-50%,-50%)scale(3);
        background-color: #ffffff00;
    }
}
.history{
    padding: 15px;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    transform: translateY(-55px);
}
.history_window{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: -100%;
    transition: 0.5s;
    padding-bottom: 10px;
    background-color: #171427;
    z-index: 3;
}
.hist_bkbtn{
    color: #ffffff;
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 500;
}
.hist_bkbtn:hover{
    background-color: #ffffff34;
}
.history_area{
    height: calc(100% - 150px);
    width: calc(100% - 20px);
    background-color: #171427;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px 10px;
    margin-inline: 10px ;
    overflow-x: hidden;
    margin-bottom: 10px;
}
.history_area::-webkit-scrollbar{
    background-color: transparent;
    width: 10px;
    height: 10px;
}
.history_area::-webkit-scrollbar-thumb{
    height: 10px;
    width: 10px;
    background-color: var(--theme-color);
    opacity: 50%;
    transition: 0.2s;
    border-radius: 10px;
}
.history_area::-webkit-scrollbar-thumb:hover{
    height: 10px;
    width: 10px;
    background-color: var(--theme-color-lessop);
    border-radius: 10px;
}
.expression{
    color: #ffffff;
    font-size: 30px;
    margin: 0px;
    height: fit-content;
}
.ans{
    color: var(--theme-color);
    font-size: 30px;
    height: fit-content;
}
.ans::before{
    content: "=";
    color: var(--theme-color);
    font-size: 30px;
}
.calcul{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    animation: comeup 0.5s linear 1;
    animation-fill-mode: forwards;
    opacity: 0%;
    margin-bottom: 20px;
    cursor: pointer;
    height: fit-content;
}
@keyframes comeup {
    0%{
        transform: translateY(20px);
        opacity: 20%;
    }
    100%{
        transform: translateY(0px);
        opacity: 100%;
    }
}
.operation{
    color: var(--theme-color);
    font-size: 30px;
}
.clearHistory{
    height: fit-content;
    width: fit-content;
    background-color: var(--theme-color);
    color: #ffffff;
    padding: 5px 15px;
    border: none;
    border-radius: 30px;
    font-size: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,calc(-100% + 20px));
    opacity: 0%;
    display: hidden;
    transition: 0.5s;
    cursor: pointer;
}

@media screen and (max-width:780px) {
    .history_area::-webkit-scrollbar-thumb{
        height: 10px;
        width: 10px;
        background-color: transparent;
        opacity: 50%;
        transition: 0.2s;
        border-radius: 10px;
    }
    .clearHistory{
        height: fit-content;
        width: fit-content;
        background-color: var(--theme-color);
        color: #ffffff;
        padding: 5px 15px;
        border: none;
        border-radius: 30px;
        font-size: 20px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%,calc(-100% + 20px));
        opacity: 0%;
        display: hidden;
        transition: 0.5s;
        cursor: pointer;
    }
    .keyboard{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: calc(100% - 200px);
        background-color: #171427;
    }
}
